@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

$main-background: #343a3f;
$border: 1px solid #eef1f3;
$font-family: "Roboto", sans-serif;

* {
    box-sizing: border-box;
}

body {
    font-family: $font-family;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $main-background;
    padding: 20px 40px;

    &__logo-img {
        width: 100px;
    }

    &__search {
        &-form {
            display: flex;
            max-width: 600px;
            width: 100%;
            margin: 0px 40px;
            position: relative;
        }

        &-input {
            display: block;
            flex: 1 1 auto;
            padding: 10px 20px;
            border-radius: 6px;
            border: none;
        }

        &-btn {
            cursor: pointer;
            border: none;
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            padding: 0px 20px;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
            background-color: #ea6f4b;
            color: white;
        }
    }

    &__temperature-scale {
        padding: 10px 40px;
        border-radius: 6px;
        border: none;
        background-color: white;
        cursor: pointer;

        &_current {
            font-weight: bold;
        }
    }
}

.weather {
    display: none;
    margin-top: 20px;

    &__day-forecast {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    &__current {
        max-width: 33%;
        flex: 0 0 33%;
        text-align: center;

        &-city {
            font-size: 40px;
            margin-bottom: 5px;
        }

        &-weather {
            font-size: 25px;
        }

        &-temperature {
            font-size: 70px;
            margin: 10px 0px;
        }

        &-max-min-temperature {
            font-size: 18px;
        }
    }

    &__interval-forecast {
        display: flex;
        max-width: 66%;
        overflow: auto;
        overflow-y: scroll;
        border-top: $border;
        border-bottom: $border;
        padding: 10px 0px;

        & li {
            margin-right: 1vw;
        }

        &-title {
            text-align: center;
            margin-bottom: 10px;

            &_now {
                font-weight: bold;
            }
        }

        &-humidity {
            text-align: center;
            color: #017bfe;
        }

        &-image {
            width: 100px;
        }

        &-temperature {
            text-align: center;
            margin-bottom: 15px;
        }
    }

    &__description {
        text-align: center;
        margin: 40px 0px;
    }

    &__info {
        background-color: $main-background;
        padding: 50px 20px;
        margin-bottom: 50px;

        &-list {
            display: grid;
            grid-gap: 40px;
            grid-template-columns: repeat(3, 1fr);
            text-align: center;
        }

        &-title {
            margin-bottom: 5px;
            color: #6c757d;
        }

        &-value {
            color: white;
            font-size: 20px;
        }
    }

    &__week-forecast {
        &-list {
            padding: 0px 60px;

            &-item {
                display: grid;
                grid-template-columns: 4fr 1fr 1fr 1.5fr;
                align-items: center;
                grid-gap: 20px;
                padding-bottom: 5px;
                border-bottom: $border;

                &_titles {
                    color: #6c757d;
                }
            }
        }

        &-pressure-title {
            text-align: center;
        }

        &-humidity-title {
            text-align: center;
        }

        &-temperature-title {
            text-align: end;
        }

        &-day-info {
            display: grid;
            align-items: center;
            grid-auto-flow: column;
        }

        &-pressure {
            text-align: center;
        }

        &-humidity {
            text-align: center;
        }

        &-temperature {
            text-align: right;
        }

        &-image {
            width: 60px;
            justify-self: center;
        }
    }
}

.footer {
    margin-top: auto;
    padding: 20px;
    text-align: center;
    background-color: $main-background;
    color: white;
}

.loader {
    display: block;
    margin: 40px auto;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left: 4px solid #333;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 1024px) {
    .header {
        padding: 20px;

        &__search {
            &-form {
                margin: 0px 20px;
            }
        }

        &__temperature-scale {
            padding: 10px 15px;
        }
    }
}

@media (max-width: 768px) {
    .header {
        &__logo-img {
            width: 80px;
        }
    }

    .weather {
        &__day-forecast {
            flex-direction: column;
        }

        &__current {
            max-width: 100%;
            margin-bottom: 20px;
        }

        &__hourly-forecast {
            max-width: 95%;
        }
    }

    .footer {
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    .header {
        flex-direction: column;
        justify-content: center;
        padding: 20px 40px;

        &__logo-img {
            width: 100px;
            margin-bottom: 10px;
        }

        &__search {
            &-form {
                margin-bottom: 10px;
                width: 100%;
            }

            &-input {
                padding: 10px 20px;
            }
        }

        &__temperature-scale {
            width: 100%;
        }
    }

    .weather {
        &__week-forecast {
            &-list {
                padding: 0px 30px;

                &-item {
                    grid-template-columns: 3fr 1fr;
                }
            }

            &-temperature {
                text-align: center;

                &-title {
                    text-align: center;
                }
            }

            &-humidity {
                display: none;

                &-title {
                    display: none;
                }
            }

            &-pressure {
                display: none;

                &-title {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 425px) {
    .weather {
        &__info {
            padding: 20px 10px;

            &-title {
                font-size: 14px;
            }

            &-value {
                font-size: 16px;
            }
        }
    }
}
